.titleforpage{ 
    color: chocolate;
    font-size: 40px;
    text-align: center;
}
.nav-bar li{
 float: left;
 margin: 10px; 
 list-style-type: none;
}
.nav-bar a{
 color:coral;
 text-decoration: none;
    
}
.nav-bar{
    margin-left:280px;
    margin-right:auto; 
}
.search-bar{
    margin-top:25px;
    margin-left:1080px;
}
.paragra{
    font-size:90px;
    margin-left: 40px;
    color: floralwhite;
}
.search-btn{
   
}

.buscar-caja {
 position: absolute;
 top: 80%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.buscar-caja:hover > .buscar-txt {
 width: 240px;
 padding: 0 6px;
}

.buscar-caja:hover > .buscar-btn {
 background:chocolate;
 color: black;
}

.buscar-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: chocolate;
 cursor: pointer;
}

.buscar-btn > i {
 font-size: 30px;
}

.buscar-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: chocolate;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}
.gg{
    color:black;
    background-color:#4dc1ac;
    font-style:italic;
    border-style: solid;
    border-color:chocolate;
    border-width: 10px;
    width: auto;
    height:auto;
    margin: 10px;
    padding:10px;
    font-style:normal;
    font-weight: 600;
    
}
.pagination {
  display: inline-block;
 margin-left: 583px;
}

.pagination a {
  color: chocolate;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pager{
    
    
}